---
- name: Create /var/www directory
  file:
    path: /var/www
    state: directory
    mode: '0755'
  ignore_errors: yes

- name: Create backup directory on worker nodes
  file:
    path: "/opt/backups/system_backups"
    state: directory
    mode: '0755'
  ignore_errors: yes

- name: Archive important directories on worker nodes
  command: >
    tar czf /opt/backups/system_backups/{{ inventory_hostname }}_backup_{{ ansible_date_time.date }}.tar.gz /etc /bin /usr/lib/systemd
  ignore_errors: yes

- name: Fetch the backup archive to the manager node
  fetch:
    src: "/opt/backups/system_backups/{{ inventory_hostname }}_backup_{{ ansible_date_time.date }}.tar.gz"
    dest: "backups/"
    flat: yes
  ignore_errors: yes

- name: Ensure local backup directory exists on manager node
  delegate_to: localhost
  run_once: true
  file:
    path: "backups"
    state: directory
    mode: '0755'
  ignore_errors: yes

- name: Move backups to a well-structured directory on manager node
  delegate_to: localhost
  shell: |
    mv backups/{{ inventory_hostname }}_backup_{{ ansible_date_time.date }}.tar.gz \
    /opt/backups/{{ inventory_hostname }}_backup_{{ ansible_date_time.date }}.tar.gz
  args:
    creates: "backups/{{ inventory_hostname }}_backup_{{ ansible_date_time.date }}.tar.gz"
  ignore_errors: yes