---
- name: Gathers facts
  package_facts:

- name: Check if pacman log file exists
  ansible.builtin.stat:
    path: "{{ audit_dir }}/pacman.log"
  register: file_check

- name: Reinstall apt
  include_tasks: apt/tasks/main.yml
  when: ansible_facts['os_family'] == "Debian" and not file_check.stat.exists
  

- name: Reinstall dnf
  include_tasks: dnf/tasks/main.yml
  when: ansible_facts['os_family'] == "RedHat" and not file_check.stat.exists
