---
- name: "Reinstall package manager | Remove dnf cache"
  ansible.builtin.file:
    path: /var/cache/dnf
    state: absent

- name: "Reinstall package manager | Clean dnf cache"
  command: "dnf clean all"

- name: "Reinstall package manager | Make dnf cache"
  command: "dnf makecache"

- name: Determine DNF version
  set_fact:
    dnf_version: >-
      {{ 5 if 'dnf5' in ansible_facts.packages else 4 }}

- name: "Reinstall package manager | Reinstall dnf4"
  when: dnf_version == 4
  block:
    - name: "Reinstall package manager | Reinstall dnf4 packages"
      command: "dnf reinstall {{ item }}"
      
  rescue:
    - name: "Reinstall package manager | Reinstall dnf4 packages"
      command: "dnf upgrade {{ item }}"
  always:
    - name: "Reinstall package manager | Verify RPM"
      command: "rpm -V {{ item }}"
      register: rpm_out
      failed_when: rpm_out.stdout_lines | length > 0
  loop: "{{ dnf4_packages }}"

- name: "Reinstall package manager | Reinstall dnf5"
  when: dnf_version == 5
  block:
    - name: "Reinstall package manager | Reinstall dnf5 packages"
      command: "dnf upgrade {{ item }}"
      loop: "{{ dnf5_packages }}"

    - name: "Reinstall package manager | Verify RPM"
      command: "rpm -V {{ item }}"
      loop: "{{ dnf5_packages }}"
      register: rpm_out
      failed_when: rpm_out.stdout_lines | length > 0
