# CIS Configurations
# 5.3.3.2.3 Ensure password complexity is configured
minclass = {{ passwd_minclass }}
dcredit = {{ passwd_dcredit }}
ucredit = {{ passwd_ucredit }}
ocredit = {{ passwd_ocredit }}
lcredit = {{ passwd_lcredit }}