[defaults]
host_key_checking = false
stdout_callback = actionable
ansible_ssh_common_args='-o StrictHostKeyChecking=no'
inventory = ./inventory/inventory.ini
forks = 10
roles_path = ./roles
retry_files_enabled=True
retry_files_save_path=./retry
log_path = ./ansible.log

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s