- name: Disable file editing
  blockinfile:
    dest:  "{{ wp_harden_root }}/wp-config.php"
    create: no
    backup: yes
    insertbefore: ".*stop editing.*"
    state: present
    content: |
      define('DISALLOW_FILE_EDIT', true);
      define('FS_METHOD', 'direct');

- name: Block wp-config.php
  blockinfile:
    dest:  "{{ wp_harden_root }}/.htaccess"
    create: no
    backup: yes
    insertbefore: "# BEGIN WordPress"
    state: present
    content: |
      <Files wp-config.php>
        order allow,deny
        deny from all
      </Files>

- name: Block dot files and xmlrpc
  blockinfile:
    dest:  "{{ wp_harden_root }}/.htaccess"
    create: no
    backup: yes
    insertbefore: "# BEGIN WordPress"
    state: present
    content: |
      <Files ~ "^.*\.([Hh][Tt][Aa])">
        order allow,deny
        deny from all
      </Files>

      <Files xmlrpc.php>
        order allow,deny
        deny from all
      </Files>

- name: Block access to wp-includes
  blockinfile:
    dest:  "{{ wp_harden_root }}/.htaccess"
    create: no
    backup: yes
    insertbefore: "# BEGIN WordPress"
    state: present
    content: |
      <IfModule mod_rewrite.c>
        RewriteEngine On
        RewriteBase /
        RewriteRule ^wp-admin/includes/ - [F,L]
        RewriteRule !^wp-includes/ - [S=3]
        RewriteRule ^wp-includes/[^/]+\.php$ - [F,L]
        RewriteRule ^wp-includes/js/tinymce/langs/.+\.php - [F,L]
        RewriteRule ^wp-includes/theme-compat/ - [F,L]
      </IfModule>

- name: Prevent username enumeration and script injection
  blockinfile:
    dest:  "{{ wp_harden_root }}/.htaccess"
    create: no
    backup: yes
    insertbefore: "# BEGIN WordPress"
    state: present
    content: |
      RewriteCond %{QUERY_STRING} author=d
      RewriteRule ^ /? [L,R=301]

      Options +FollowSymLinks
      RewriteEngine On
      RewriteCond %{QUERY_STRING} (<|%3C).*script.*(>|%3E) [NC,OR]
      RewriteCond %{QUERY_STRING} GLOBALS(=|[|%[0-9A-Z]{0,2}) [OR]
      RewriteCond %{QUERY_STRING} _REQUEST(=|[|%[0-9A-Z]{0,2})
      RewriteRule ^(.*)$ index.php [F,L]
  
- name: Disable PHP execution in uploads directory.
  blockinfile:
    dest:  "{{ wp_harden_root }}/{{ wp_harden_uploads_dir | default('wp-content/uploads') }}/.htaccess"
    create: yes
    backup: yes
    marker: "# {mark} ANSIBLE MANAGED BLOCK: Kill PHP Execution"
    insertafter: EOF
    state: present
    content: |
      <Files ~ "\.ph(?:p[345]?|t|tml)$">
         deny from all
      </Files>

- name: Update Wordpress file ownership
  file:
    path: "{{ wp_harden_root }}"
    recurse: yes
    owner: www-data
    group: www-data

- name: Update Wordpress file and directory permissions
  shell: "{{ item }}"
  with_items:
    - "find {{ wp_harden_root }} -type d -exec chmod
      755 {} \\;"
    - "find {{ wp_harden_root }} -type f -exec chmod 
      644 {} \\;"
