- name: Gather ansible facts
  ansible.builtin.package_facts:

- name: register is_container
  set_fact:
    is_target_container: false

- name: register is_container
  set_fact:
    is_target_container: true
  when: inventory_hostname in groups["kubemgr"]

- name: register is_container
  set_fact:
    is_target_container: true
  when: inventory_hostname in groups["kube"]

- name: PWD for getting templates
  set_fact:
    ansible_dir: "{{ role_path }}/tasks"

- name: Harden Ubuntu
  block:
    - name: Include ubu22 defaults
      include_vars:
        file: ubu22/defaults/main.yml

    - name: Include ubu22 vars main.yml
      include_vars:
        file: ubu22/vars/main.yml  

    - name: Include ubu22 tasks
      include_tasks: ubu22/tasks/main.yml 
  when: ansible_facts['os_family'] == "Debian"   

- name: Harden rhel
  block:
    - name: Include rhel9 defaults
      include_vars:
        file: rhel9/defaults/main.yml
  
    - name: Include rhel9 vars main.yml
      include_vars:
        file: rhel9/vars/main.yml

    - name: Include rhel9 tasks
      include_tasks: rhel9/tasks/main.yml
  when: ansible_facts['os_family'] == "RedHat"