- name: Gather ansible facts
  ansible.builtin.package_facts:

- name: register is_container
  set_fact:
    is_target_container: false

- name: register is_container
  set_fact:
    is_target_container: true
  when: inventory_hostname in groups["kubemgr"]

- name: register is_container
  set_fact:
    is_target_container: true
  when: inventory_hostname in groups["kube"]

- name: PWD for getting templates
  set_fact:
    ansible_dir: "{{ role_path }}/tasks"

- name: Harden Ubuntu
  include_tasks: ubu22/tasks/main.yml 
  when: ansible_facts['os_family'] == "Debian"   
  strategy: free

- name: Harden rhel
  include_tasks: rhel9/tasks/main.yml
  when: ansible_facts['os_family'] == "RedHat"
  strategy: free