# File created for CIS benchmark
# CIS rule 6_2_1_1_3
[Journal]
SystemMaxUse={{ journald_systemmaxuse }}
SystemKeepFree={{ journald_systemkeepfree }}
RuntimeMaxUse={{ journald_runtimemaxuse }}
RuntimeKeepFree={{ journald_runtimekeepfree }}
MaxFileSec={{ journald_maxfilesec }}