---
- name: Policy Accept
  ansible.builtin.iptables:
    chain: "{{ item }}"
    policy: ACCEPT
  with_items:
    - "INPUT"
    - "OUTPUT"

- name: Install Common Packages
  package:
    name: "{{ item }}"
    state: present
  with_items:
    - "nethogs"
    - "rkhunter"
    - "python3-pip"
    - "git"
  ignore_errors: yes

###### External Audit Scripts #######
- name: Copy Linpeas
  copy:
    src: linpeas.sh
    dest: /tmp/linpeas.sh
  ignore_errors: true

- name: Run Linpeas Audit
  shell: "curl -L https://github.com/carlospolop/PEASS-ng/releases/latest/download/linpeas.sh | sh > {{ audit_dir }}/linpeas.txt"
  ignore_errors: true

- name: Run Lynis Audit
  shell: "lynis audit system > {{ audit_dir }}/lynis.txt"
  ignore_errors: true

- name: Run RKHunter
  shell: "rkhunter --check > {{ audit_dir }}/rkhunter.txt"
  ignore_errors: true

- name: Store Audit Script Output onto local Ansible Box
  fetch:
    src: "{{ audit_dir }}/audit_log.txt"
    dest: /opt/inventory/{{ ansible_hostname }}-audit.txt
    flat: yes
    fail_on_missing: no

- name: Store Linpeas Output onto local Ansible Box
  fetch:
    src: "{{ audit_dir }}/linpeas.txt"
    dest: /opt/inventory/{{ ansible_hostname }}-linpeas.txt
    flat: yes
    fail_on_missing: no
    
- name: Store Lynis Output onto local Ansible Box
  fetch:
    src: "{{ audit_dir }}/lynis.txt"
    dest: /opt/inventory/{{ ansible_hostname }}-lynis.txt
    flat: yes
    fail_on_missing: no

- name: Upgrade packages
  package: 
    name: "*"
    state: latest

- name: Include APT tasks
  include_tasks: apt.yml
  when: ansible_facts['os_family'] == "Debian"

- name: Policy Drop
  ansible.builtin.iptables:
    chain: "{{ item }}"
    policy: DROP
  with_items:
    - "INPUT"
    - "OUTPUT"