---
- name: Policy Accept
  ansible.builtin.iptables:
    chain: "{{ item }}"
    policy: ACCEPT
  with_items:
    - "INPUT"
    - "OUTPUT"

- name: Update the package cache and all packages (Debian/Ubuntu)
  ansible.builtin.apt:
    update_cache: true # Equivalent of "apt-get update"
    # name: "*"
    # state: latest # Update all packages to their latest version
  when: ansible_facts['os_family'] == 'Debian'

- name: Upgrade all packages (RHEL/CentOS)
  ansible.builtin.dnf:
    update_cache: true
    # name: "*"
    # state: latest
  when: ansible_facts['os_family'] == 'RedHat'

- name: Upgrade all packages (SUSE)
  community.general.zypper:
    update_cache: true
    # name: "*"
    # state: latest
  when: ansible_facts['os_family'] == 'Suse'

- name: Install Common Packages
  package:
    name: "{{ item }}"
    state: present
  with_items:
    - "nethogs"
    - "rkhunter"
    - "python3-pip"
    - "git"
  ignore_errors: yes

###### External Audit Scripts #######
# - name: Copy Linpeas
#   copy:
#     src: linpeas.sh
#     dest: /tmp/linpeas.sh
#   ignore_errors: true

- name: Run Linpeas Audit
  block:
    - name: Curl linpeas script and run it 
      shell: "curl -L https://github.com/carlospolop/PEASS-ng/releases/latest/download/linpeas.sh | sh > {{ audit_dir }}/linpeas.txt"
      async: 0
      poll: 0
      args:
        creates: "{{ audit_dir }}/linpeas.txt"
      ignore_errors: true
    
    - name: Store Linpeas Output onto local Ansible Box
      fetch:
        src: "{{ audit_dir }}/linpeas.txt"
        dest: host-audit-script-output/{{ ansible_hostname }}-linpeas.txt
        flat: yes
        fail_on_missing: no

- name: Run Lynis Audit
  shell: "lynis audit system > {{ audit_dir }}/lynis.txt"
  ignore_errors: true
  args:
    creates: "{{ audit_dir }}/lynis.txt"

- name: Run RKHunter
  shell: "rkhunter --check > {{ audit_dir }}/rkhunter.txt"
  ignore_errors: true
  args:
    creates: "{{ audit_dir }}/rkunter.txt"

- name: Store Audit Script Output onto local Ansible Box
  fetch:
    src: "{{ audit_dir }}/audit_log.txt"
    dest: host-audit-script-output/{{ ansible_hostname }}-audit.txt
    flat: yes
    fail_on_missing: no
    
- name: Store Lynis Output onto local Ansible Box
  fetch:
    src: "{{ audit_dir }}/lynis.txt"
    dest: host-audit-script-output/{{ ansible_hostname }}-lynis.txt
    flat: yes
    fail_on_missing: no

- name: Store rkhunter Output onto local Ansible Box
  fetch:
    src: "{{ audit_dir }}/rkhunter.txt"
    dest: host-audit-script-output/{{ ansible_hostname }}-rkhunter.txt
    flat: yes
    fail_on_missing: no

- name: Upgrade packages
  package: 
    name: "*"
    state: latest

- name: Include APT tasks
  include_tasks: apt.yml
  when: ansible_facts['os_family'] == "Debian"

- name: Policy Drop
  ansible.builtin.iptables:
    chain: "{{ item }}"
    policy: DROP
  with_items:
    - "INPUT"
    - "OUTPUT"