---
- name: Define Wazuh Logging ports
  ansible.builtin.set_fact:
    logging_ports:
      - 1514
      - 1515
  when: siem == 'wazuh'

- name: Define Splunk Logging ports
  ansible.builtin.set_fact:
    logging_ports:
      - 9997
  when: siem == 'splunk'

- name: Define Grafana logging ports
  ansible.builtin.set_fact:
    logging_ports:
      - 3000
      - 3100
  when: siem == 'grafana'

- name: Define Graylog logging ports
  ansible.builtin.set_fact:
    logging_ports:
      - 12201
  when: siem == 'graylog'

- name: Allow logging communication from other connected boxes to the logging manager
  ansible.builtin.iptables:
    chain: INPUT
    source: "{{ item[0] }}"
    protocol: tcp
    destination_port: "{{ item[1] }}"
    jump: ACCEPT
  delegate_to: "{{ groups['logging'][0] }}"
  loop: "{{ groups['all'] | product(logging_ports) | list }}"
  when: firewall_logging
  ignore_errors: true

- name: Allow output to the logging manager box
  ansible.builtin.iptables:
    chain: OUTPUT
    protocol: tcp
    destination_port: "{{ item }}"
    destination: "{{ groups['logging'][0] }}"
    jump: ACCEPT
  loop: "{{ logging_ports }}"
  when: firewall_logging
  ignore_errors: true