---
- name: Allow output to the Password Manager server
  ansible.builtin.iptables:
    chain: OUTPUT
    protocol: tcp
    destination_port: "443"
    destination: "{{ password_manager_ip }}"
    jump: ACCEPT