---
- name: Secure that shit (lite)
  include_tasks: iptables_lite.yml
  when: scoring_ip is not defined

- name: Secure that shit (heavy)
  include_tasks: iptables_heavy.yml
  when: scoring_ip is defined

- name: firewall
  include_tasks: iptables_logging.yml
  when: firewall_logging is true

# - name: kube worker
#   include_tasks: old_iptables_kube.yml
#   when: inventory_hostname in groups["kube"]

# - name: kube Manager
#   include_tasks: iptables_kubeMANAGER.yml
#   when: inventory_hostname in groups["kubemgr"]

- name: kube
  include_tasks: iptables_kube.yml
  vars:
    pod_network_cidr: "10.244.0.0/16"
  when: inventory_hostname in groups["kube"] + groups["kubemgr"]