- name: "HARDEN_OS RHEL | Configure MOTD"
  block:
    - name: "Set MOTD message"
      ansible.builtin.copy:
        src: rhel/motd
        dest: /etc/motd
        owner: root
        group: root
        mode: 0644

    - name: "Disable dynamic_motd/pam_motd.so"
      ansible.builtin.copy:
        src: rhel/sshd
        dest: /etc/pam.d/sshd

- name: "HARDEN_OS RHEL | Configure local login warning banner"
  block:
    - name: "Set local MOTD in /etc/issue"
      ansible.builtin.lineinfile:
        path: /etc/issue
        insertafter: '.'
        line: ' \n This system is for AUTHORIZED use only! Violators will be prosecuted under the fullest extent of the law. '
        backup: yes
        owner: root
        group: root
        mode: 0644

    - name: "Divert /etc/issue with dpkg"
      community.general.dpkg_divert:
        path: /etc/issue

- name: "HARDEN_OS RHEL | Configure remote login warning banner"
  block:
    - name: "Set remote MOTD in /etc/issue"
      ansible.builtin.lineinfile:
        path: /etc/issue.net
        insertafter: '.'
        line: ' \n This system is for AUTHORIZED use only! Violators will be prosecuted under the fullest extent of the law. '
        backup: yes
        owner: root
        group: root
        mode: 0644

    - name: "Divert /etc/issue.net with dpkg"
      community.general.dpkg_divert:
        path: /etc/issue.net

- name: "HARDEN_OS RHEL | Make root own /etc/motd"
  ansible.builtin.file:
    path: /etc/motd
    owner: root
    group: root
    mode: 0644

- name: "HARDEN_OS RHEL | Make root own /etc/issue"
  ansible.builtin.file:
    path: /etc/issue
    owner: root
    group: root
    mode: 0644

- name: "HARDEN_OS RHEL | Make root own /etc/issue.net"
  ansible.builtin.file:
    path: /etc/issue.net
    owner: root
    group: root
    mode: 0644

- name: "HARDEN_OS RHEL | Secure IPv4 and IPv6 and restrict core dumps"
  block:
      # TODO: Create exclusion for kube
    - name: "Replace sysctl.conf with ours"
      ansible.builtin.copy:
        src: rhel/sysctl.conf
        dest: /etc/sysctl.conf
        owner: root
        group: root
        mode: 0744
        backup: yes

    - name: "Replace coredump.conf with ours"
      ansible.builtin.copy:
        src: rhel/coredump.conf
        dest: /etc/systemd/coredump.conf
        owner: root
        group: root
        mode: 0744
        backup: yes

- name: "HARDEN_OS RHEL | Ensure cron daemon is enabled"
  ansible.builtin.service:
    name: crond
    enabled: true

- name: "HARDEN_OS RHEL | Configure cron permissions"
  block:
    - name: "HARDEN_OS RHEL | Set permissions on /etc/crontab"
      ansible.builtin.file:
        path: /etc/crontab
        owner: root
        group: root
        mode: 0700

    - name: "HARDEN_OS RHEL | Set permissions on /etc/cron.hourly"
      ansible.builtin.file:
        path: /etc/cron.hourly
        state: directory
        owner: root
        group: root
        mode: 0700

    - name: "HARDEN_OS RHEL | Set permissions on /etc/cron.daily"
      ansible.builtin.file:
        path: /etc/cron.daily
        state: directory
        owner: root
        group: root
        mode: 0700

    - name: "HARDEN_OS RHEL | Set permissions on /etc/cron.weekly"
      ansible.builtin.file:
        path: /etc/cron.weekly
        state: directory
        owner: root
        group: root
        mode: 0700

    - name: "HARDEN_OS RHEL | Set permissions on /etc/cron.monthly"
      ansible.builtin.file:
        path: /etc/cron.monthly
        state: directory
        owner: root
        group: root
        mode: 0700

    - name: "HARDEN_OS RHEL | Set permissions on /etc/cron.d"
      ansible.builtin.file:
        path: /etc/cron.d
        state: directory
        owner: root
        group: root
        mode: 0700

- name: "HARDEN_OS RHEL | Ensure bluetooth services are not in use"
  ansible.builtin.package:
    name: bluez
    state: absent

- name: HARDEN_OS RHEL | Modprobe stuff
  block:
  - name: Replace dccp.conf with ours"
    ansible.builtin.copy:
      src: rhel/modprobe.d/dccp.conf
      dest: /etc/modprobe.d/dccp.conf
      owner: root
      group: root
      mode: 0744
      backup: yes

  - name: Replace blacklist.conf with ours
    ansible.builtin.copy:
      src: rhel/modprobe.d/blacklist.conf
      dest: /etc/modprobe.d/blacklist.conf
      owner: root
      group: root
      mode: 0744
      backup: yes

  - name: Replace tipc.conf with ours
    ansible.builtin.copy:
      src: rhel/modprobe.d/tipc.conf
      dest: /etc/modprobe.d/tipc.conf
      owner: root
      group: root
      mode: 0744

  - name: Replace rds.conf with ours
    ansible.builtin.copy:
      src: rhel/modprobe.d/rds.conf
      dest: /etc/modprobe.d/rds.conf
      owner: root
      group: root
      mode: 0744
      backup: yes

  - name: Replace sctp.conf with ours
    ansible.builtin.copy:
      src: rhel/modprobe.d/sctp.conf
      dest: /etc/modprobe.d/sctp.conf
      owner: root
      group: root
      mode: 0744
      backup: yes

- name: HARDEN_OS RHEL | Sudoers
  ansible.builtin.copy:
    src: rhel/sudoers
    dest: /etc/sudoers
    owner: root
    group: root
    mode: 0744
    backup: yes

- name: "HARDEN_OS RHEL | Ensure permissions on /etc/ssh/sshd_config are configured"
  ansible.builtin.file:
    path: "/etc/ssh/sshd_config"
    owner: root
    group: root
    mode: 'go-rwx'

- name: "HARDEN_OS RHEL | Ensure permissions on SSH private host key files are configured"
  block:
    - name: "5.1.2 | Find the SSH private host keys"
      ansible.builtin.find:
        paths: /etc/ssh
        patterns: 'ssh_host_*_key'
        recurse: true
        file_type: any
      register: discovered_ssh_private_host_key

    - name: "HARDEN_OS RHEL | Set permissions on SSH private host keys"
      ansible.builtin.file:
        path: "{{ item.path }}"
        owner: root
        group: root
        mode: 'u-x,go-rwx'
      loop: "{{ discovered_ssh_private_host_key.files }}"
      loop_control:
        label: "{{ item.path }}"

- name: "HARDEN_OS RHEL | Ensure permissions on SSH public host key files are configured"
  block:
    - name: "HARDEN_OS RHEL | Find the SSH public host keys"
      ansible.builtin.find:
        paths: /etc/ssh
        patterns: 'ssh_host_*_key.pub'
        recurse: true
        file_type: any
      register: discovered_ssh_public_host_key

    - name: "HARDEN_OS RHEL | Set permissions on SSH public host keys"
      ansible.builtin.file:
        path: "{{ item.path }}"
        owner: root
        group: root
        mode: 'u-x,go-wx'
      loop: "{{ discovered_ssh_public_host_key.files }}"
      loop_control:
        label: "{{ item.path }}"

- name: "HARDEN_OS RHEL | Ensure sudo is installed"
  ansible.builtin.package:
    name: sudo
    state: present

- name: "HARDEN_OS RHEL | Ensure sudo commands use pty"
  ansible.builtin.lineinfile:
    path: /etc/sudoers
    line: "Defaults    use_pty"
    validate: '/usr/sbin/visudo -cf %s'

- name: "HARDEN_OS RHEL | Ensure sudo log file exists"
  ansible.builtin.lineinfile:
    path: /etc/sudoers
    regexp: '^Defaults    logfile='
    line: 'Defaults    logfile="{{ sudolog_location }}"'
    validate: '/usr/sbin/visudo -cf %s'

- name: "HARDEN_OS RHEL | Ensure users must provide password for escalation"
  block:
    - name: "HARDEN_OS RHEL | Discover accounts with NOPASSWD"
      ansible.builtin.shell: grep -Ei '(nopasswd)' /etc/sudoers /etc/sudoers.d/* | cut -d':' -f1
      become: true
      changed_when: false
      failed_when: false
      register: discovered_nopasswd_sudoers

    - name: "HARDEN_OS RHEL | Remove nopasswd for accounts not excluded"
      ansible.builtin.replace:
        path: "{{ item }}"
        regexp: '^((?!#|{% for name in sudoers_exclude_nopasswd_list %}{{ name }}{% if not loop.last -%}|{%- endif -%}{% endfor %}).*)NOPASSWD(.*)'
        replace: '\1PASSWD\2'
        validate: '/usr/sbin/visudo -cf %s'
      loop: "{{ discovered_nopasswd_sudoers.stdout_lines }}"
      when: discovered_nopasswd_sudoers.stdout | length > 0






- name: Restart sshd
  ansible.builtin.systemd:
    name: sshd
    state: restarted

- name: Systemd daemon reload
  ansible.builtin.systemd:
    daemon-reload: true

- name: Authselect update
  ansible.builtin.command: authselect apply-changes
  changed_when: true

- name: Restart journald
  ansible.builtin.systemd:
    name: systemd-journald
    state: restarted

- name: HARDEN_OS RHEL | Secure SSHd
  block:
    - name: "Replace sshd_config with our version"
      ansible.builtin.copy:
        src: rhel/sshd_config
        dest: /etc/ssh/sshd_config
        owner: root
        group: root
        mode: 0644
        backup: yes

    - name: "Restart sshd"
      ansible.builtin.systemd:
        name: sshd
        enabled: yes
        state: restarted
        masked: no