- name: Create directory
  ansible.builtin.file:
    path: "/opt/ccdc-password-manager-client"
    owner: blueteam
    group: blueteam
    state: directory
    mode: 0755

- name: Download Password Manager Client
  ansible.builtin.get_url:
    url: https://github.com/CCDC-RIT/Password-Manager/raw/refs/heads/main/client/linux
    dest: /opt/ccdc-password-manager-client/client
    mode: '0440'

- name: Download Password Manager Service File
  ansible.builtin.get_url:
    url: https://raw.githubusercontent.com/CCDC-RIT/Password-Manager/refs/heads/main/client/linux.service
    dest: /etc/systemd/system/ccdc-password-manager-client.service
    mode: '0644'

- name: Setup conf folder
  ansible.builtin.file:
    path: /etc/ccdc-password-manager
    state: directory
    mode: '0700'
    owner: root
    group: root

- name: Create empty token.txt file
  ansible.builtin.file:
    path: /etc/ccdc-password-manager/token.txt
    state: touch
    mode: '0600'
    owner: root
    group: root

- name: Create server_ip_address.txt file
  ansible.builtin.copy:
    dest: /etc/ccdc-password-manager/server_ip_address.txt
    content: "{{ password_manager_ip }}"
    mode: '0600'
    owner: root
    group: root
  
- name: reload Service Daemon
  ansible.builtin.systemd:
    daemon_reload: yes

- name: Enable and start Password Manager Client service
  ansible.builtin.systemd:
    name: ccdc-password-manager-client.service
    enabled: yes
    state: started