---
- name: Update apt cache
  ansible.builtin.apt:
    update_cache: yes

- name: Install xrdp and XFCE
  ansible.builtin.apt:
    name:
      - xrdp
      - "{{ desktop_env }}"
      - xfce4-goodies
    state: present

- name: Configure xrdp.ini with MaxSessions
  ansible.builtin.lineinfile:
    path: /etc/xrdp/xrdp.ini
    regexp: '^MaxSessions='
    line: "MaxSessions={{ max_sessions }}"

- name: Add startxfce4 to user's .xsession
  ansible.builtin.lineinfile:
    path: /home/{{ ansible_user }}/.xsession
    create: yes
    line: 'startxfce4'

- name: Ensure iptables is installed
  ansible.builtin.apt:
    name: iptables
    state: present

- name: Open firewall port for RDP
  iptables:
    chain: INPUT
    protocol: tcp
    destination_port: "{{ xrdp_port }}"
    jump: ACCEPT
    state: present

- name: Restart xrdp
  systemd:
    name: xrdp
    state: restarted
    
- name: Ensure xrdp service is started and enabled
  systemd:
    name: xrdp
    state: started
    enabled: yes

- name: Display xrdp service status
  ansible.builtin.debug:
    msg: "RDP server has been deployed. Connect using RDP client to {{ ansible_default_ipv4.address }}:{{ xrdp_port }}.Service status: {{ lookup('ansible.builtin.command', 'systemctl is-active xrdp') }}"