---
# verify pacman integrity
- name: Gathers facts
  package_facts:

- name: "Verify package manager | Verify apt integrity"
  block:
    - name: "Verify package manager | Copy debsums"
      ansible.builtin.copy:
        src: roles/verify-pacman/files/
        dest: /tmp/debsums/
    
    - name: "Verify package manager | install libs"
      shell: "dpkg -i {{ item }}.deb && exit"
      loop:
        - libdpkg-perl_1.22.21_all
        - libfile-fnmatch-perl_0.022-3+b4_amd64

    - name: "Verify package manager | install debsums"
      shell: "dpkg -i debsums_3.0.2.3.deb && exit"

    - name: "Verify package manager | verify packages"
      command: "debsums -s {{ item }}"
      register: integrity
      changed_when: false
      failed_when: integrity.rc != 0
      loop:
        - apt
        - libapt-pkg
        - apt-utils

  when: ansible_facts['os_family'] == 'Debian'

- name: "Verify package manager | Verify dnf integrity"
  block:
    - name: "Verify package manager | Determine DNF version"
      set_fact:
        dnf_version: >-
          {{ 5 if 'dnf5' in ansible_facts.packages else 4 }}
    
    - name: "Verify package manager | Verify dnf4"
      shell: "rpm -V {{ item }}"
      register: rpm_out
      failed_when: rpm_out.stdout_lines | length > 0
      loop: "{{ dnf4_packages }}"
      when: dnf_version == 4

    - name: "Verify package manager | Verify dnf5"
      shell: "rpm -V {{ item }}"
      register: rpm_out
      failed_when: rpm_out.stdout_lines | length > 0
      loop: "{{ dnf5_packages }}"
      when: dnf_version == 5

  when: ansible_facts['os_family'] == "RedHat"