---

- name: Install WireGuard package
  ansible.builtin.yum:
    name: wireguard-tools
    state: present

- name: Generate private key
  ansible.builtin.command: wg genkey
  register: wg_server_private_key
  changed_when: false

- name: Generate public key
  ansible.builtin.command: echo "{{ wg_server_private_key.stdout }}" | wg pubkey
  register: wg_server_public_key
  changed_when: false

- name: Create WireGuard config file
  ansible.builtin.template:
    src: wg.conf.j2
    dest: /etc/wireguard/wg0.conf
    mode: '600'

- name: Enable IP forwarding
  ansible.builtin.sysctl:
    name: net.ipv4.ip_forward
    value: "1"
    state: present
    reload: yes

- name: Activate the interface
  ansible.builtin.command: wg-quick up wg0

- name: Enable and start WireGuard service
  ansible.builtin.systemd:
    name: wg-quick@wg0
    enabled: yes
    state: started