---
- name: "Reinstall Package Manager | Determine apt package"
  set_fact:
    apt_pkg: "{{ ansible_facts.packages['apt'][0] }}"

- name: "Reinstall Package Manager | Determine apt version and arch"
  set_fact:
    apt_version: "{{ apt_pkg.version }}"
    deb_arch: "{{ apt_pkg.arch }}"

- name: "Reinstall Package Manager | Determine libapt-pkg package name"
  set_fact:
    libapt_pkg_name: >-
      {{
        ansible_facts.packages
        | dict2items
        | selectattr('key', 'match', '^libapt-pkg')
        | map(attribute='key')
        | first
      }}

- name: Create temporary directory
  file:
    path: "/tmp/apt-reinstall"
    state: directory
    mode: '0755'

- name: "Reinstall Package Manager | Download debs"
  get_url:
    url: "https://mirrors.rit.edu/ubuntu/pool/main/a/apt/{{ item }}"
    dest: "/tmp/apt-reinstall/{{ item }}"
    mode: '0644'
  loop:
    - "apt_{{ apt_version }}_{{ deb_arch }}.deb"
    - "{{ libapt_pkg_name }}_{{ apt_version }}_{{ deb_arch }}.deb"
    - "apt-utils_{{ apt_version }}_{{ deb_arch }}.deb"

- name: "Reinstall Package Manager | Purge apt"
  command: dpkg --purge --force-depends apt apt-utils
  register: dpkg_purge
  failed_when: dpkg_purge.rc > 1
  ignore_errors: true

- name: "Reinstall Package Manager | Install new debs"
  shell: dpkg -i /tmp/apt-reinstall/*.deb
  register: dpkg_install
  failed_when: dpkg_install.rc > 1

- name: "Reinstall Package Manager | Fix dependencies"
  command: apt-get -f install -y

- name: "Reinstall Package Manager | Verify apt"
  command: apt --version
  changed_when: false