---
- name: Reinstall Package Manager | Determine apt version"
  set_fact:
    apt_version: "{{ ansible_facts.packages['apt']['version'] }}"

- name: "Reinstall Package Manager | Download deb"
  get_url:
    url: "https://mirrors.rit.edu/ubuntu/pool/main/a/apt/apt_{{ apt_version }}_amd64.deb"
    dest: /tmp/apt.deb

- name: "Reinstall Package Manager | Remove apt"
  command: dpkg -r apt

# purge repos?

- name: "Reinstall Package Manager | Install new apt"
  command: dpkg -i /tmp/apt.deb
