---
- name: "Reinstall Package Manager | Determine apt package"
  set_fact:
    apt_pkg: "{{ ansible_facts.packages['apt'][0] }}"

- name: "Reinstall Package Manager | Determine apt version and arch"
  set_fact:
    apt_version: "{{ apt_pkg.version }}"
    deb_arch: "{{ apt_pkg.arch }}"

- name: "Reinstall Package Manager | Determine libapt-pkg package name"
  set_fact:
    libapt_pkg_name: >-
      {{
        'libapt-pkg6.0'
        if apt_version is version('2.4', '>=')
        else 'libapt-pkg5.0'
      }}

- name: "Reinstall Package Manager | Create temporary directory"
  file:
    path: "/tmp/apt-reinstall"
    state: directory
    mode: "0755"

- name: "Reinstall Package Manager | Download debs"
  command: > # get_url unreliable for some reason
    wget -O /tmp/apt-reinstall/{{ item  }}
    "https://mirrors.edge.kernel.org/ubuntu/pool/main/a/apt/{{ item }}"
  changed_when: true
  loop:
    - "apt_{{ apt_version }}_{{ deb_arch }}.deb"
    - "{{ libapt_pkg_name }}_{{ apt_version }}_{{ deb_arch }}.deb"
    - "apt-utils_{{ apt_version }}_{{ deb_arch }}.deb"

- name: "Reinstall Package Manager | chmod debs"
  file: 
    path: "/tmp/apt-reinstall/"
    state: directory
    recurse: true
    mode: "0644"

- name: "Reinstall Package Manager | Purge apt"
  command: dpkg --purge apt apt-utils
  ignore_errors: true

- name: "Reinstall Package Manager | Install new debs"
  command: dpkg -i {{ apt_reinstall_dir }}/*.deb
  register: dpkg_install
  failed_when: dpkg_install.rc > 1

- name: "Reinstall Package Manager | Fix dependencies"
  command: apt-get -f install -y

- name: "Reinstall Package Manager | Verify apt"
  command: apt --version
  changed_when: false