---
- name: "Reinstall Package Manager | Download deb"
  get_url:
    url: http://mirrors.edge.kernel.org/ubuntu/pool/main/a/apt/apt_3.1.6ubuntu2_amd64.deb
    dest: /tmp/apt.deb

- name: "Reinstall Package Manager | Remove apt"
  command: dpkg -r apt

# purge repos?

- name: "Reinstall Package Manager | Install new apt"
  command: dpkg -i /tmp/apt.deb
