---

- name: Gather facts for localhost
  ansible.builtin.setup:
  delegate_to: localhost

- name: Add blueteam user
  ansible.builtin.user: 
    name: blueteam
    state: present
    password: "{{ blueteam_password | password_hash('sha512') }}"
    shell: /bin/bash

- name: Make blueteam group
  ansible.builtin.group:
    name: blueteam
    state: present

- name: Create wheel group if doesn't exist on RedHat
  ansible.builtin.shell: groupadd -f wheel
  when: ansible_os_family == "RedHat"
 
- name: Add blueteam user to admin groups (RedHat)
  ansible.builtin.user:
    name: blueteam
    groups: '{{ item }}'
    append: yes
  with_items:
    - "wheel"
    - "adm"
    - "blueteam"
  when: ansible_os_family == "RedHat"

- name: Add blueteam user to admin groups (Debian)
  ansible.builtin.user:
    name: blueteam
    groups: '{{ item }}'
    append: yes
  with_items:
    - "sudo"
    - "adm"
    - "blueteam"
  when: ansible_os_family == "Debian"

# - name: Make sure inventory directory exists
#   ansible.builtin.file:
#     path: /opt/inventory
#     state: directory
#     mode: '0755'

# - name: Make sure key file is there
#   ansible.builtin.file:
#     path: /opt/inventory/id_ed25519.pub
#     state: touch #TODO: make this "file" fr
#     mode: '0755'

- name: Check if a SSH key already exists
  ansible.builtin.stat:
    path: "{{ ansible_env.HOME }}/.ssh/id_ed25519"
  delegate_to: localhost
  register: ssh_key_check

- name: Generate SSH key on Ansible controller
  command: "ssh-keygen -t ed25519 -f {{ ansible_env.HOME }}/.ssh/id_ed25519 -N \"\" -q"
  args:
    creates: '{{ ansible_env.HOME }}/.ssh/id_ed25519'
  delegate_to: localhost
  when: not ssh_key_check.stat.exists

- name: Add key to blueteam user
  ansible.posix.authorized_key:
    user: blueteam
    state: present
    key: "{{ lookup('file', lookup('env','HOME') + '/.ssh/id_ed25519.pub') }}"

- name: Create backup directory
  ansible.builtin.file:
    path: "{{ backup_dir }}"
    owner: blueteam
    group: blueteam
    state: directory

- name: Create quarantine directory
  ansible.builtin.file:
    path: "{{ quarantine }}"
    owner: blueteam
    group: blueteam
    state: directory

- name: Create inventory directory
  ansible.builtin.file:
    path: "/opt/inventory"
    owner: blueteam
    group: blueteam
    state: directory
    mode: 0755
    
- name: Create hosts list
  set_fact:
    build_hosts: |
      {% for host in groups['all'] %}
      {{ hostvars[host]['inventory_hostname'] }} {{ hostvars[host]['ansible_hostname'] }}
      {% endfor %}

- name: Append to /etc/hosts our new hosts
  lineinfile:
    path: /etc/hosts
    state: present
    insertafter: EOF
    line: "{{ item }}"
  with_items: "{{ build_hosts.split('\n') }}"
  when: build_hosts is defined
  ignore_errors: true
  
- name: Append hosts to /etc/hosts on ansible controller
  lineinfile:
    path: /etc/hosts
    state: present
    insertafter: EOF
    line: "{{ item }}"
  with_items: "{{ build_hosts.split('\n') }}"
  when: build_hosts is defined
  delegate_to: localhost

# - name: Compare sources.list (Debian/Ubuntu)
#   shell: diff /etc/apt/sources.list files/sources.list
#   register: diff
#   ignore_errors: yes
#   changed_when: diff.rc == 1
#   when: ansible_facts['os_family'] == 'Debian'

# in Debian, all repos are in /etc/apt/sources.list
- name: Copy sources.list (Debian/Ubuntu)
  ansible.builtin.copy:
    src: ubuntu_22_04_sources.list
    dest: /etc/apt/sources.list
    owner: root
    group: root
    mode: 0644
    backup: true
  when: ansible_facts['os_family'] == 'Debian' and ansible_distribution_version == '22.04'

# in RHEL, each repo is its own file in /etc/yum.repos.d/
# - name: Copy over repo files (RHEL/CentOS)
#   ansible.builtin.copy:
#     src: "files/{{ item }}"
#     dest: "/etc/yum.repos.d/{{ item }}"
#     owner: root
#     group: root
#     mode: 0644
#   with_items:
#     - "rhel.repo"
#     - "epel.repo"
#   when: ansible_facts['os_family'] == 'RedHat'
# TODO: find good repos because they vary by version, hard to be dynamic

# in SUSE, each repo is its own file in /etc/zypp/repos.d/
# - name: Copy over repo files (SUSE)
#   ansible.builtin.copy:
#     src: "files/{{ item }}"
#     dest: "/etc/zypp/repos.d/{{ item }}"
#     owner: root
#     group: root
#     mode: 0644
#   with_items:
#     - "suse.repo"
#   when: ansible_facts['os_family'] == 'Suse'
# TODO: same thing with this, need to find file maybe from clean install bc bad sources online

- name: Update the package cache and all packages (Debian/Ubuntu)
  ansible.builtin.apt:
    update_cache: yes # Equivalent of "apt-get update"
    # name: "*"
    # state: latest # Update all packages to their latest version
  when: ansible_facts['os_family'] == 'Debian'

- name: Upgrade all packages (RHEL/CentOS)
  ansible.builtin.dnf:
    update_cache: true
    # name: "*"
    # state: latest
  when: ansible_facts['os_family'] == 'RedHat'

- name: Upgrade all packages (SUSE)
  community.general.zypper:
    update_cache: true
    # name: "*"
    # state: latest
  when: ansible_facts['os_family'] == 'Suse'

- name: Install Common Packages
  package:
    name: "{{ item }}"
    state: present
  with_items:
    - "yara"
    - "lsof"
    - "vim"
    - "curl"
    - "openssl"
    - "iptables"
    - "snoopy"
    - "lynis"
    - "iptables-persistent"
  ignore_errors: yes

- name: Set PATH in /etc/environment
  lineinfile:
    path: /etc/environment
    line: 'PATH="/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games:/usr/local/games:/snap/bin"'
    create: yes

- name: Creates yararules directory
  ansible.builtin.file:
    path: /opt/yararules
    state: directory

- name: Download Yara Forge rules (zip file)
  ansible.builtin.get_url:
    url: https://github.com/YARAHQ/yara-forge/releases/latest/download/yara-forge-rules-full.zip
    dest: /var/tmp/forge.zip
    mode: '0440'

- name: Unzip forge.zip
  ansible.builtin.unarchive:
    src: /var/tmp/forge.zip
    dest: /opt/yararules/forge.yar
    remote_src: yes

- name: Download RIT CCDC Yara rules
  ansible.builtin.git:
    repo: 'https://github.com/ansible/ansible.git'
    dest: /opt/yararules