---
# to save ansible output in a single log on the control node, set the log_path configuration file (ansible.cfg) setting
# to save output in separate logs, one on each managed node, set the no_target_syslog and syslog_facility settings in ansible.cfg -- this is probably what we prefer
##### BASIC #####
- name: Copy append_to_audit_log.sh
  copy:
    src: append_to_audit_log.sh
    dest: /root/append_to_audit_log.sh 
    mode: 0755

- name: Move /etc/sudoers.d to quarantine
  shell: "mv /etc/sudoers.d {{ quarantine }}/sudoers.d"
  ignore_errors: true

- name: Copy Debian 10 Service Files
  copy:
    src: debian10.services
    dest: /root/debian10
    mode: 0755
  when: ansible_os_family == "Debian" and ansible_distribution == "Debian" and ansible_distribution_version is version("10", "=")

- name: Copy Ubuntu 18 Service Files
  copy: 
    src: ubuntu18.services
    dest: /root/ubuntu18
    mode: 0755
  when: ansible_os_family == "Debian" and ansible_distribution == "Ubuntu" and ansible_distribution_version is version("18", "=")

- name: Display Aliases
  shell: alias
  register: task_output
- name: LOG Display Aliases
  shell: bash /root/append_to_audit_log.sh "Display Aliases" "{{ task_output.stdout }}"

- name: Check for Shims
  shell: |
    diff /bin/false /bin/sh
    diff /bin/false /bin/bashaud
    diff /usr/sbin/nologin /bin/sh
    diff /usr/sbin/nologin /bin/bash
    diff /usr/bin/passwd /bin/passwd
    diff /usr/bin/ls /bin/ls 
    diff /usr/bin/sudo /bin/sudo
  register: shims
  ignore_errors: true
- name: LOG Check for Shims
  shell: bash /root/append_to_audit_log.sh "Check for Shims" "{{ shims.stdout }}"

# SSH Keys
- name: Check SSH Keys Config
  shell: cat /root/ssh/sshd_config | grep -i AuthorizedKeysFile
  register: ssh1
  ignore_errors: true
- name: LOG Check SSH Keys Config
  shell: bash /root/append_to_audit_log.sh "Check SSH Keys Config" "{{ ssh1.stdout }}"

- name: List User's Authorized SSH Keys
  shell: head -n 20 /home/*/.ssh/authorized_keys* && find /home -name "authorized_keys"
  register: ssh2
- name: LOG List User's Authorized SSH Keys
  shell: bash /root/append_to_audit_log.sh "List User's Authorized SSH Keys" "{{ ssh2.stdout }}"

- name: List Root's Authorized SSH Keys
  shell: head -n 20 /root/.ssh/authorized_keys*
  register: ssh3
- name: LOG List Root's Authorized SSH Keys
  shell: bash /root/append_to_audit_log.sh "List Root's Authorized SSH Keys" "{{ ssh3.stdout }}"

- name: Currently Logged In
  shell: who
  register: who_output
- name: LOG Currently Logged In
  shell: bash /root/append_to_audit_log.sh "Currently Logged In" "{{ who_output.stdout }}"

- name: Currently Active Sessions
  shell: w
  register: w_output
- name: LOG Currently Active Sessions # this just like fails but only sometimes????
  shell: bash /root/append_to_audit_log.sh "Currently Active Sessions" "{{ w_output.stdout }}"

- name: Login History
  shell: last | grep -Ev 'system' | head -n 20
  register: loginhistory
- name: LOG Login History
  shell: bash /root/append_to_audit_log.sh "Login History" "{{ loginhistory.stdout }}"

- name: Current Network Listening
  shell: ss -tulpnw
  register: networklistening
- name: LOG Current Network Listening
  shell: bash /root/append_to_audit_log.sh "Current Network Listening" "{{ networklistening.stdout }}"

- name: lsof Remote
  shell: lsof -i
  register: lsofremote
  ignore_errors: true

- name: LOG lsof Remote
  shell: bash /root/append_to_audit_log.sh "lsof Remote" "{{ lsofremote.stdout }}"
  ignore_errors: true

- name: Potential Rootkit Signs
  shell: |
    dmesg | grep taint
    env | grep -i 'LD'
  register: rootkit
  ignore_errors: true
- name: LOG Potential Rootkit Signs
  shell: bash /root/append_to_audit_log.sh "Potential Rootkit Signs" "{{ rootkit.stdout }}"

- name: Mounted Processes
  shell: mount | grep "proc"
  register: mountedprocs
- name: LOG Mounted Processes
  shell: bash /root/append_to_audit_log.sh "Mounted Processes" "{{ mountedprocs.stdout }}"

# - name: Get Services (Ubuntu 18)
#   shell: systemctl list-units --type=service | awk '{ print $1 }' | grep "service"
#   register: services
#   when: ansible_os_family == "Debian" and ansible_distribution == "Ubuntu" and ansible_distribution_version is version("18", "=")
# - name: Log Services Differences (Ubuntu 18)
#   shell: bash /root/append_to_audit_log.sh "Check Services (Ubuntu 18)" "{{ services.stdout_lines | difference(ubuntu18.services) }}" # {{ list1 | difference(list2) }}

# - name: Get Services (Debian 10)
#   shell: systemctl list-units --type=service | awk '{ print $1 }' | grep "service"
#   register: services
#   ansible.builtin.difference:
#     first: "{{ services.stdout_lines }}"
#     second: debian10.services
#     when: ansible_os_family == "Debian" and ansible_distribution == "Debian" and ansible_distribution_version is version("10", "=")
#     # log the difference into audit_log.txt

- name: Get Service Differences (Ubuntu 18)
  shell: diff /root/ubuntu18 /root/services
  register: ubu_services
  when: ansible_os_family == "Debian" and ansible_distribution == "Ubuntu" and ansible_distribution_version is version("18", "=")
- name: LOG Service Differences (Ubuntu 18)
  shell: bash /root/append_to_audit_log.sh "Service Differences (Ubuntu 18)" "{{ ubu_services }}"

- name: Get Service Differences (Debian 10)
  shell: diff /root/debian10 /root/services
  when: ansible_os_family == "Debian" and ansible_distribution == "Debian" and ansible_distribution_version is version("10", "=")
  register: deb_services
- name: LOG Service Differences (Debian 10)
  shell: bash /root/append_to_audit_log.sh "Service Differences (Debian 10)" "{{ deb_services }}"


##### VERBOSE #####

- name: Auto Runs
  shell: |
    cat /etc/crontab | grep -Ev '#|PATH|SHELL'
    cat /etc/cron.d/* | grep -Ev '#|PATH|SHELL'
    find /var/spool/cron/crontabs/ -printf '%p\n' -exec cat {} \;
    systemctl list-timers
  register: autoruns
- name: LOG Auto Runs
  shell: bash /root/append_to_audit_log.sh "Auto Runs" "{{ autoruns.stdout }}"

- name: lsof Raw
  shell: |
    lsof | grep -i -E 'raw|pcap' || true
    lsof | grep /proc/sys/net/ipv4 || true
  register: lsofraw
  ignore_errors: true

- name: LOG lsof Raw
  shell: bash /root/append_to_audit_log.sh "lsof Raw" "{{ lsofraw.stdout }}"
  ignore_errors: true

- name: Processes
  shell: ps af && /root/append_to_audit_log.sh "Processes" ""
  register: procs
- name: LOG Processes
  lineinfile:
    state: present
    insertafter: EOF
    dest: /opt/audit_log.txt
    line: "{{ procs.stdout }}"

- name: Poisoned Networking
  shell: |
    cat /etc/nsswitch.conf
    cat /etc/hosts
    cat /etc/resolv.conf | grep -Ev '#|PATH|SHELL'
    ip netns list
    ip route
    /root/append_to_audit_log.sh "Poisoned Networking" ""
  register: poisonednetworking
- name: LOG Poisoned Networking
  lineinfile:
    state: present
    insertafter: EOF
    dest: /opt/audit_log.txt
    line: "{{ poisonednetworking.stdout }}"

- name: IPs and MACs
  shell: |
    ip -c route | grep "default"
    echo -e ""
    ip -br -c a
    echo -e "\n[MAC]:"
    ip -br -c link
  register: ips_macs
- name: LOG IPs and MACs
  shell: bash /root/append_to_audit_log.sh "IPs and MACs" "{{ ips_macs.stdout }}"

- name: Auth Backdoors
  shell: |
    cat /etc/sudoers | grep NOPASS
    cat /etc/sudoers | grep !AUTH
    find / -type f \( -name ".rhosts" -o -name ".shosts" -o -name "hosts.equiv" \) -exec ls -l {} \;
  register: authbackdoors
  ignore_errors: true

- name: LOG Auth Backdoors
  shell: bash /root/append_to_audit_log.sh "Auth Backdoors" "{{ authbackdoors.stdout }}"

- name: Check /etc/sudoers.d directory for any non-commented out line
  shell: "grep -r -v '^#' /etc/sudoers.d"
  register: sudoersd
  ignore_errors: true

- name: LOG /etc/sudoers.d directory for any non-commented out line
  shell: bash /root/append_to_audit_log.sh "Check /etc/sudoers.d directory for any non-commented out line" "{{ sudoersd.stdout }}"

- name: Files Modified in Last 10 Min
  shell: |
    find /etc -xdev -mmin -10 -ls 2> /dev/null
    find /home -xdev -mmin -10 -ls 2> /dev/null
    find /root -xdev -mmin -10 -ls 2> /dev/null
    find /bin -xdev -mmin -10 -ls 2> /dev/null
    find /sbin -xdev -mmin -10 -ls 2> /dev/null
  register: filesmodified
  ignore_errors: true

- name: LOG Files Modified in Last 10 Min
  shell: bash /root/append_to_audit_log.sh "Files Modified in Last 10 Min" "{{ filesmodified.stdout }}"
  ignore_errors: true

- name: Repositories
  shell: cat /etc/apt/sources.list | grep -Ev "##|#"
  register: repos
  when: ansible_facts['os_family'] == "Debian"
  ignore_errors: true

- name: LOG Repositories
  shell: bash /root/append_to_audit_log.sh "Repositories" "{{ repos.stdout }}"

# - name: Malware? (Debian)
#   shell: |
#     dpkg -l | grep "sniff"
#     dpkg -l | grep "packet" 
#     dpkg -l | grep "wireless" 
#     dpkg -l | grep "pen"
#     dpkg -l | grep "test" 
#     dpkg -l | grep "password" 
#     dpkg -l | grep "crack"
#     dpkg -l | grep "spoof" 
#     dpkg -l | grep "brute" 
#     dpkg -l | grep "log" 
#     dpkg -l | grep "key"
#     dpkg -l | grep "network" 
#     dpkg -l | grep "map" 
#     dpkg -l | grep "server"
#     dpkg -l | grep "CVE" 
#     dpkg -l | grep "exploit" 
#   when: ansible_os_family == "Debian"
#   register: malware
# - name: LOG Malware? (Debian)
#   shell: bash /root/append_to_audit_log.sh "Malware? (Debian)" "{{ malware.stdout }}"

- name: "HARDEN_OS UBUNTU | Get groups with gid 0"
  ansible.builtin.shell: "awk -F: '$3==\"0\"{print $1}' /etc/group | grep -vw 'root'"
  changed_when: false
  failed_when: discovered_gid0_groups.rc not in [ 0, 1 ]
  register: discovered_gid0_groups

- name: "HARDEN_OS UBUNTU | Warning if others gid 0 groups"
  ansible.builtin.debug:
    msg:
      - "Warning!! You have other groups assigned to GID 0 - Please resolve"
      - "{{ discovered_gid0_groups.stdout_lines }}"
  when:
    - discovered_gid0_groups is defined
    - discovered_gid0_groups.stdout | length > 0