---

- name: "HARDEN_OS UBUNTU | Enable ASLR"
  ansible.posix.sysctl:
    name: kernel.randomize_va_space
    value: '2'
    state: present
    sysctl_file: /etc/sysctl.d/98_kernel.conf
    reload: true
    sysctl_set: true
    ignore_errors: true

- name: "HARDEN_OS UBUNTU | Restrict ptrace_scope"
  ansible.posix.sysctl:
    name: kernel.yama.ptrace_scope
    value: '1'
    state: present
    sysctl_file: /etc/sysctl.d/98_kernel.conf
    reload: true
    sysctl_set: true
    ignoreerrors: true

- name: "HARDEN_OS UBUNTU | Ensure core dumps are restricted"
  block:
    - name: "kernel sysctl"
      ansible.posix.sysctl:
        name: fs.suid_dumpable
        value: '0'
        state: present
        sysctl_file: /etc/sysctl.d/98_kernel.conf
        reload: true
        sysctl_set: true
        ignoreerrors: true

    - name: "security limits"
      ansible.builtin.copy:
        src: 99_zero_core.conf
        dest: /etc/security/limits.d/99_zero_core.conf
        owner: root
        group: root
        mode: 'go-wx'
        backup: yes

    - name: "Replace sysctl.conf with ours"
      ansible.builtin.copy:
        src: sysctl.conf
        dest: /etc/sysctl.conf
        owner: root
        group: root
        mode: 'go-wx'
        backup: yes

    - name: "Replace coredump.conf with ours"
      ansible.builtin.copy:
        src: coredump.conf
        dest: /etc/systemd/coredump.conf
        owner: root
        group: root
        mode: 'go-wx'
        backup: yes

- name: "HARDEN_OS UBUNTU | Ensure prelink is not installed"
  block:
    - name: "Restore binaries to normal"
      ansible.builtin.command: prelink -ua
      changed_when: false
      failed_when: false

    - name: "Remove prelink package"
      ansible.builtin.package:
        name: prelink
        state: absent
        purge: false


- name: "HARDEN_OS UBUNTU | Disable Automatic Error Reporting"
  block:
    - name: "Disable Apport"
      ansible.builtin.copy:
        src: apport
        dest: /etc/default/apport
        line: enabled=0
        owner: root
        group: root
        mode: 'go-wx'

    - name: "Remove Apport package"
      ansible.builtin.package:
        name: apport
        state: absent
        purge: false



- name: "HARDEN_OS UBUNTU | Configure MOTD"
  block:
    - name: "Set MOTD message"
      ansible.builtin.template:
        src: motd
        dest: /etc/motd
        owner: root
        group: root
        mode: 'u-x,go-wx'

    - name: "Disable dynamic_motd/pam_motd.so"
      ansible.builtin.copy:
        src: sshd
        dest: /etc/pam.d/sshd

- name: "HARDEN_OS UBUNTU | Configure local login warning banner"
  block:
    - name: "Set local MOTD in /etc/issue"
      ansible.builtin.lineinfile:
        path: /etc/issue
        insertafter: '.'
        line: ' \n This system is for AUTHORIZED use only! Violators will be prosecuted under the fullest extent of the law. '
        backup: yes
        owner: root
        group: root
        mode: 'u-x,go-wx'

    - name: "Divert /etc/issue with dpkg"
      community.general.dpkg_divert:
        path: /etc/issue

- name: "HARDEN_OS UBUNTU | Configure remote login warning banner"
  block:
    - name: "Set remote MOTD in /etc/issue"
      ansible.builtin.lineinfile:
        path: /etc/issue.net
        insertafter: '.'
        line: ' \n This system is for AUTHORIZED use only! Violators will be prosecuted under the fullest extent of the law. '
        backup: yes
        owner: root
        group: root
        mode: 'u-x,go-wx'

    - name: "Divert /etc/issue.net with dpkg"
      community.general.dpkg_divert:
        path: /etc/issue.net

- name: "HARDEN_OS UBUNTU | Make root own /etc/motd"
  ansible.builtin.file:
    path: /etc/motd
    owner: root
    group: root
    mode: 'u-x,go-wx'

- name: "HARDEN_OS UBUNTU | Make root own /etc/issue"
  ansible.builtin.file:
    path: /etc/issue
    owner: root
    group: root
    mode: 'u-x,go-wx'

- name: "HARDEN_OS UBUNTU | Make root own /etc/issue.net"
  ansible.builtin.file:
    path: /etc/issue.net
    owner: root
    group: root
    mode: 'u-x,go-wx'

- name: "HARDEN_OS UBUNTU | Ensure GDM is removed"
  ansible.builtin.package:
    name: gdm3
    state: absent

- name: HARDEN_OS UBUNTU | Discover dconf systemdb
  ansible.builtin.shell: grep system-db /etc/dconf/profile/user | cut -d ':' -f2
  changed_when: false
  failed_when: prelim_dconf_system_db.rc not in [ 0, 1 ]
  register: prelim_dconf_system_db

- name: "HARDEN_OS UBUNTU | Configure GDM login banner"
  block:
    - name: "Make directory"
      ansible.builtin.file:
        path: "/etc/dconf/db/{{ prelim_dconf_system_db.stdout }}.d"
        owner: root
        group: root
        mode: 'go-w'
        state: directory

    - name: "Banner settings"
      ansible.builtin.lineinfile:
        path: "/etc/dconf/db/{{ prelim_dconf_system_db.stdout }}.d/00-login-screen"
        regexp: "{{ item.regexp }}"
        line: "{{ item.line }}"
        insertafter: "{{ item.insertafter }}"
        create: true
        owner: root
        group: root
        mode: 'u-x,go-wx'
      loop:
        - { regexp: "\\[org\\/gnome\\/login-screen\\]", line: "[org/gnome/login-screen]", insertafter: EOF }
        - { regexp: "banner-message-enable", line: "banner-message-enable=true", insertafter: "\\[org\\/gnome\\/login-screen\\]" }
        - { regexp: "banner-message-text", line: "banner-message-text=This system is for AUTHORIZED use only! Violators will be prosecuted under the fullest extent of the law.", insertafter: "banner-message-enable" }
  ignore_errors: true

- name: "HARDEN_OS UBUNTU | Enable GDM disable-user-list option"
  block:
    - name: "Make dconf directories"
      ansible.builtin.file:
        path: "{{ item }}"
        owner: root
        group: root
        mode: 'go-w'
        state: directory
      loop:
        - /etc/dconf/db/{{ prelim_dconf_system_db.stdout }}.d
        - /etc/dconf/profile

    - name: "HARDEN_OS UBUNTU | disable-user-list setting login-screen"
      ansible.builtin.lineinfile:
        path: "/etc/dconf/db/{{ prelim_dconf_system_db.stdout }}.d/00-login-screen"
        regexp: "{{ item.regexp }}"
        line: "{{ item.line }}"
        insertafter: "{{ item.insertafter }}"
        create: true
        owner: root
        group: root
        mode: 'u-x,go-wx'
      loop:
        - { regexp: "\\[org\\/gnome\\/login-screen\\]", line: "[org/gnome/login-screen]", insertafter: EOF }
        - { regexp: "disable-user-list", line: "disable-user-list=true", insertafter: "\\[org\\/gnome\\/login-screen\\]" }

    - name: "HARDEN_OS UBUNTU | disable-user-list setting profile"
      ansible.builtin.lineinfile:
        path: "/etc/dconf/profile/{{ prelim_dconf_system_db.stdout }}"
        regexp: "{{ item.regexp }}"
        line: "{{ item.line }}"
        insertafter: "{{ item.insertafter }}"
        create: true
        owner: root
        group: root
        mode: 'u-x,go-wx'
      loop:
        - { regexp: "^user-db:user", line: "user-db:user", insertafter: EOF }
        - { regexp: "^system-db:{{ prelim_dconf_system_db.stdout }}", line: "system-db:{{ prelim_dconf_system_db.stdout }}", insertafter: "user-db:user" }
        - regexp: "^file-db:/usr/share/gdm/greeter-dconf-defaults"
          line: "file-db:/usr/share/gdm/greeter-dconf-defaults"
          insertafter: "system-db:{{ prelim_dconf_system_db.stdout }}"
  when:
    - not prelim_dconf_system_db | length == 0
  ignore_errors: true


- name: "HARDEN_OS UBUNTU | Disable GDM automatic mounting of removable media"
  block:
    - name: "Make directory"
      ansible.builtin.file:
        path: "/etc/dconf/db/{{ prelim_dconf_system_db.stdout }}.d"
        owner: root
        group: root
        mode: 'go-w'
        state: directory

    - name: "Session script"
      ansible.builtin.template:
        src: "{{ ansible_dir }}/ubu22/templates/etc/dconf/db/00-media-automount.j2"
        dest: "/etc/dconf/db/{{ prelim_dconf_system_db.stdout }}.d/00-media-automount"
        owner: root
        group: root
        mode: 'u-x,go-wx'
  ignore_errors: true

- name: "HARDEN_OS UBUNTU | Lock disabling GDM automatic mounting of removable media"
  block:
    - name: "Make lock directory"
      ansible.builtin.file:
        path: "/etc/dconf/db/{{ prelim_dconf_system_db.stdout }}.d/locks"
        owner: root
        group: root
        mode: 'go-w'
        state: directory

    - name: "Make lockfile"
      ansible.builtin.template:
        src: "{{ ansible_dir }}/ubu22/templates/etc/dconf/db/00-automount_lock.j2"
        dest: "/etc/dconf/db/{{ prelim_dconf_system_db.stdout }}.d/locks/00-automount_lock"
        owner: root
        group: root
        mode: 'u-x,go-wx'
  ignore_errors: true

- name: "HARDEN_OS UBUNTU | Enable GDM autorun-never"
  block:
    - name: "Make directory"
      ansible.builtin.file:
        path: "/etc/dconf/db/{{ prelim_dconf_system_db.stdout }}.d"
        owner: root
        group: root
        mode: 'go-w'
        state: directory

    - name: "Session script"
      ansible.builtin.template:
        src: "{{ ansible_dir }}/ubu22/templates/etc/dconf/db/00-media-autorun.j2"
        dest: "/etc/dconf/db/{{ prelim_dconf_system_db.stdout }}.d/00-media-autorun"
        owner: root
        group: root
        mode: 'u-x,go-wx'
  ignore_errors: true

- name: "HARDEN_OS UBUNTU | Lock GDM autorun-never"
  block:
    - name: "Make lock directory"
      ansible.builtin.file:
        path: "/etc/dconf/db/{{ prelim_dconf_system_db.stdout }}.d/locks"
        owner: root
        group: root
        mode: 'go-w'
        state: directory

    - name: "Make lockfile"
      ansible.builtin.template:
        src: "{{ ansible_dir }}/ubu22/templates/etc/dconf/db/00-autorun_lock.j2"
        dest: "/etc/dconf/db/{{ prelim_dconf_system_db.stdout }}.d/locks/00-autorun_lock"
        owner: root
        group: root
        mode: 'u-x,go-wx'
  ignore_errors: true

- name: "HARDEN_OS UBUNTU | Disable XDCMP"
  ansible.builtin.lineinfile:
    path: /etc/gdm3/custom.conf
    regexp: "^Enable.*=.*true"
    state: absent
  ignore_errors: true