---
- name: "HARDEN_OS UBUNTU | Ensure core dumps are restricted | Secure IPv4 and IPv6"
  block:
    - name: "security limits"
      ansible.builtin.copy:
        src: 99_zero_core.conf
        dest: /etc/security/limits.d/99_zero_core.conf
        owner: root
        group: root
        mode: 'go-wx'
        backup: yes

      # TODO: Create exclusion for kube
    - name: "Replace sysctl.conf with ours"
      ansible.builtin.copy:
        src: sysctl.conf
        dest: /etc/sysctl.conf
        owner: root
        group: root
        mode: 'go-wx'
        backup: yes

    - name: "Replace coredump.conf with ours"
      ansible.builtin.copy:
        src: coredump.conf
        dest: /etc/systemd/coredump.conf
        owner: root
        group: root
        mode: 'go-wx'
        backup: yes

- name: "HARDEN_OS UBUNTU | Ensure prelink is not installed"
  block:
    - name: "Restore binaries to normal"
      ansible.builtin.command: prelink -ua
      changed_when: false
      failed_when: false

    - name: "Remove prelink package"
      ansible.builtin.package:
        name: prelink
        state: absent
        purge: false


- name: "HARDEN_OS UBUNTU | Disable Automatic Error Reporting"
  block:
    - name: "Disable Apport"
      ansible.builtin.copy:
        src: apport
        dest: /etc/default/apport
        line: enabled=0
        owner: root
        group: root
        mode: 'go-wx'

    - name: "Remove Apport package"
      ansible.builtin.package:
        name: apport
        state: absent
        purge: false

- name: "HARDEN_OS UBUNTU | Configure MOTD"
  block:
    - name: "Set MOTD message"
      ansible.builtin.copy:
        src: motd
        dest: /etc/motd
        owner: root
        group: root
        mode: 'u-x,go-wx'

    - name: "Disable dynamic_motd/pam_motd.so"
      ansible.builtin.copy:
        src: sshd
        dest: /etc/pam.d/sshd

- name: "HARDEN_OS UBUNTU | Configure local login warning banner"
  block:
    - name: "Set local MOTD in /etc/issue"
      ansible.builtin.lineinfile:
        path: /etc/issue
        insertafter: '.'
        line: ' \n This system is for AUTHORIZED use only! Violators will be prosecuted under the fullest extent of the law. '
        backup: yes
        owner: root
        group: root
        mode: 'u-x,go-wx'

    - name: "Divert /etc/issue with dpkg"
      community.general.dpkg_divert:
        path: /etc/issue

- name: "HARDEN_OS UBUNTU | Configure remote login warning banner"
  block:
    - name: "Set remote MOTD in /etc/issue"
      ansible.builtin.lineinfile:
        path: /etc/issue.net
        insertafter: '.'
        line: ' \n This system is for AUTHORIZED use only! Violators will be prosecuted under the fullest extent of the law. '
        backup: yes
        owner: root
        group: root
        mode: 'u-x,go-wx'

    - name: "Divert /etc/issue.net with dpkg"
      community.general.dpkg_divert:
        path: /etc/issue.net

- name: "HARDEN_OS UBUNTU | Make root own /etc/motd"
  ansible.builtin.file:
    path: /etc/motd
    owner: root
    group: root
    mode: 'u-x,go-wx'

- name: "HARDEN_OS UBUNTU | Make root own /etc/issue"
  ansible.builtin.file:
    path: /etc/issue
    owner: root
    group: root
    mode: 'u-x,go-wx'

- name: "HARDEN_OS UBUNTU | Make root own /etc/issue.net"
  ansible.builtin.file:
    path: /etc/issue.net
    owner: root
    group: root
    mode: 'u-x,go-wx'

- name: "HARDEN_OS UBUNTU | Ensure GDM is removed"
  ansible.builtin.package:
    name: gdm3
    state: absent

- name: HARDEN_OS UBUNTU | Discover dconf systemdb
  ansible.builtin.shell: grep system-db /etc/dconf/profile/user | cut -d ':' -f2
  changed_when: false
  failed_when: prelim_dconf_system_db.rc not in [ 0, 1 ]
  register: prelim_dconf_system_db

- name: "HARDEN_OS UBUNTU | Configure GDM login banner"
  block:
    - name: "Make directory"
      ansible.builtin.file:
        path: "/etc/dconf/db/{{ prelim_dconf_system_db.stdout }}.d"
        owner: root
        group: root
        mode: 'go-w'
        state: directory

    - name: "Banner settings"
      ansible.builtin.lineinfile:
        path: "/etc/dconf/db/{{ prelim_dconf_system_db.stdout }}.d/00-login-screen"
        regexp: "{{ item.regexp }}"
        line: "{{ item.line }}"
        insertafter: "{{ item.insertafter }}"
        create: true
        owner: root
        group: root
        mode: 'u-x,go-wx'
      loop:
        - { regexp: "\\[org\\/gnome\\/login-screen\\]", line: "[org/gnome/login-screen]", insertafter: EOF }
        - { regexp: "banner-message-enable", line: "banner-message-enable=true", insertafter: "\\[org\\/gnome\\/login-screen\\]" }
        - { regexp: "banner-message-text", line: "banner-message-text=This system is for AUTHORIZED use only! Violators will be prosecuted under the fullest extent of the law.", insertafter: "banner-message-enable" }
  ignore_errors: true

- name: "HARDEN_OS UBUNTU | Enable GDM disable-user-list option"
  block:
    - name: "Make dconf directories"
      ansible.builtin.file:
        path: "{{ item }}"
        owner: root
        group: root
        mode: 'go-w'
        state: directory
      loop:
        - /etc/dconf/db/{{ prelim_dconf_system_db.stdout }}.d
        - /etc/dconf/profile

    - name: "HARDEN_OS UBUNTU | disable-user-list setting login-screen"
      ansible.builtin.lineinfile:
        path: "/etc/dconf/db/{{ prelim_dconf_system_db.stdout }}.d/00-login-screen"
        regexp: "{{ item.regexp }}"
        line: "{{ item.line }}"
        insertafter: "{{ item.insertafter }}"
        create: true
        owner: root
        group: root
        mode: 'u-x,go-wx'
      loop:
        - { regexp: "\\[org\\/gnome\\/login-screen\\]", line: "[org/gnome/login-screen]", insertafter: EOF }
        - { regexp: "disable-user-list", line: "disable-user-list=true", insertafter: "\\[org\\/gnome\\/login-screen\\]" }

    - name: "HARDEN_OS UBUNTU | disable-user-list setting profile"
      ansible.builtin.lineinfile:
        path: "/etc/dconf/profile/{{ prelim_dconf_system_db.stdout }}"
        regexp: "{{ item.regexp }}"
        line: "{{ item.line }}"
        insertafter: "{{ item.insertafter }}"
        create: true
        owner: root
        group: root
        mode: 'u-x,go-wx'
      loop:
        - { regexp: "^user-db:user", line: "user-db:user", insertafter: EOF }
        - { regexp: "^system-db:{{ prelim_dconf_system_db.stdout }}", line: "system-db:{{ prelim_dconf_system_db.stdout }}", insertafter: "user-db:user" }
        - regexp: "^file-db:/usr/share/gdm/greeter-dconf-defaults"
          line: "file-db:/usr/share/gdm/greeter-dconf-defaults"
          insertafter: "system-db:{{ prelim_dconf_system_db.stdout }}"
  when:
    - not prelim_dconf_system_db | length == 0
  ignore_errors: true


- name: "HARDEN_OS UBUNTU | Disable GDM automatic mounting of removable media"
  block:
    - name: "Make directory"
      ansible.builtin.file:
        path: "/etc/dconf/db/{{ prelim_dconf_system_db.stdout }}.d"
        owner: root
        group: root
        mode: 'go-w'
        state: directory

    - name: "Session script"
      ansible.builtin.template:
        src: "{{ ansible_dir }}/ubu22/templates/etc/dconf/db/00-media-automount.j2"
        dest: "/etc/dconf/db/{{ prelim_dconf_system_db.stdout }}.d/00-media-automount"
        owner: root
        group: root
        mode: 'u-x,go-wx'
  ignore_errors: true

- name: "HARDEN_OS UBUNTU | Lock disabling GDM automatic mounting of removable media"
  block:
    - name: "Make lock directory"
      ansible.builtin.file:
        path: "/etc/dconf/db/{{ prelim_dconf_system_db.stdout }}.d/locks"
        owner: root
        group: root
        mode: 'go-w'
        state: directory

    - name: "Make lockfile"
      ansible.builtin.template:
        src: "{{ ansible_dir }}/ubu22/templates/etc/dconf/db/00-automount_lock.j2"
        dest: "/etc/dconf/db/{{ prelim_dconf_system_db.stdout }}.d/locks/00-automount_lock"
        owner: root
        group: root
        mode: 'u-x,go-wx'
  ignore_errors: true

- name: "HARDEN_OS UBUNTU | Enable GDM autorun-never"
  block:
    - name: "Make directory"
      ansible.builtin.file:
        path: "/etc/dconf/db/{{ prelim_dconf_system_db.stdout }}.d"
        owner: root
        group: root
        mode: 'go-w'
        state: directory

    - name: "Session script"
      ansible.builtin.template:
        src: "{{ ansible_dir }}/ubu22/templates/etc/dconf/db/00-media-autorun.j2"
        dest: "/etc/dconf/db/{{ prelim_dconf_system_db.stdout }}.d/00-media-autorun"
        owner: root
        group: root
        mode: 'u-x,go-wx'
  ignore_errors: true

- name: "HARDEN_OS UBUNTU | Lock GDM autorun-never"
  block:
    - name: "Make lock directory"
      ansible.builtin.file:
        path: "/etc/dconf/db/{{ prelim_dconf_system_db.stdout }}.d/locks"
        owner: root
        group: root
        mode: 'go-w'
        state: directory

    - name: "Make lockfile"
      ansible.builtin.template:
        src: "{{ ansible_dir }}/ubu22/templates/etc/dconf/db/00-autorun_lock.j2"
        dest: "/etc/dconf/db/{{ prelim_dconf_system_db.stdout }}.d/locks/00-autorun_lock"
        owner: root
        group: root
        mode: 'u-x,go-wx'
  ignore_errors: true

- name: "HARDEN_OS UBUNTU | Disable XDCMP"
  ansible.builtin.lineinfile:
    path: /etc/gdm3/custom.conf
    regexp: "^Enable.*=.*true"
    state: absent
  ignore_errors: true

- name: "HARDEN_OS UBUNTU | Disable IPv6"
  block:
    - name: "Copy GRUB config"
      ansible.builtin.copy:
        src: grub
        dest: /etc/default/grub
        owner: root
        group: root
        mode: 'u-x,go-wx'

    - name: "Update GRUB"
      ansible.builtin.command: update-grub

    - name: "Set flags for sysctl disable IPv6"
      ansible.builtin.copy:
        src: 60-disable_ipv6.conf
        dest: etc/sysctl.d/60-disable_ipv6.conf
        owner: root
        group: root
        mode: 'g-wx,o-rwx'

- name: "HARDEN_OS UBUNTU | Disable wireless interfaces"
  block:
    - name: "Check for network-manager tool"
      ansible.builtin.command: nmcli radio wifi
      changed_when: false
      failed_when: false
      check_mode: false
      register: discovered_wifi_status
      when: "'network-manager' in ansible_facts.packages"

    - name: "Disable wireless if network-manager installed"
      ansible.builtin.command: nmcli radio all off
      changed_when: discovered_nmcli_radio_off.rc == 0
      register: discovered_nmcli_radio_off
      when:
        - "'network-manager' in ansible_facts.packages"
        - "'enabled' in discovered_wifi_status.stdout"

    - name: "Warn about wireless if network-manager not installed"
      ansible.builtin.debug:
        msg: "Warning!! You need to disable wireless interfaces manually since network-manager is not installed"
      when: "'network-manager' not in ansible_facts.packages"

- name: "HARDEN_OS UBUNTU | Remove Bluetooth"
  ansible.builtin.package:
    name: bluez
    state: absent

- name: HARDEN_OS UBUNTU | Modprobe stuff
  block:
  - name: Replace dccp.conf with ours"
    ansible.builtin.copy:
      src: modprobe.d/dccp.conf
      dest: /etc/modprobe.d/dccp.conf
      owner: root
      group: root
      mode: 'go-wx'
      backup: yes

  - name: Replace blacklist.conf with ours
    ansible.builtin.copy:
      src: modprobe.d/blacklist.conf
      dest: /etc/modprobe.d/blacklist.conf
      owner: root
      group: root
      mode: 'go-wx'
      backup: yes

  - name: Replace tipc.conf with ours
    ansible.builtin.copy:
      src: modprobe.d/tipc.conf
      dest: /etc/modprobe.d/tipc.conf
      owner: root
      group: root
      mode: 'go-wx'

  - name: Replace rds.conf with ours
    ansible.builtin.copy:
      src: modprobe.d/rds.conf
      dest: /etc/modprobe.d/rds.conf
      owner: root
      group: root
      mode: 'go-wx'
      backup: yes

  - name: Replace sctp.conf with ours
    ansible.builtin.copy:
      src: modprobe.d/sctp.conf
      dest: /etc/modprobe.d/sctp.conf
      owner: root
      group: root
      mode: 'go-wx'
      backup: yes

- name: HARDEN_OS UBUNTU | Sudoers
  ansible.builtin.copy:
    src: sudoers
    dest: /etc/sudoers
    owner: root
    group: root
    mode: 'go-wx'
    backup: yes
  
# TODO: Move to audit? also write to audit file?
- name: HARDEN_OS UBUNTU | Get non-root UID 0 accounts
  ansible.builtin.shell: "cat /etc/passwd | awk -F: '($3 == 0 && $1 != \"root\") {i++;print $1 } END {exit i}'"
  changed_when: false
  check_mode: false
  register: prelim_uid_zero_accounts_except_root

- name: "HARDEN_OS UBUNTU | Remove non-root UID 0 accounts"
  ansible.builtin.command: passwd -l {{ item }}
  changed_when: false
  failed_when: false
  loop: "{{ prelim_uid_zero_accounts_except_root.stdout_lines }}"

- name: "HARDEN_OS UBUNTU | Get non-root members of GID 0"
  ansible.builtin.shell: "awk -F: '($1 !~ /^(sync|shutdown|halt|operator)/ && $4==\"0\") {print $1}' /etc/passwd | grep -wv 'root'"
  changed_when: false
  failed_when: discovered_gid0_members.rc not in [ 0, 1 ]
  register: discovered_gid0_members

- name: "HARDEN_OS UBUNTU | Remove non-root members of GID 0"
  ansible.builtin.user:
    name: "{{ item }}"
    group: root
    state: absent
  loop: "{{ discovered_gid0_members.stdout_lines }}"
  when:
    - discovered_gid0_members is defined
    - discovered_gid0_members.stdout | length > 0

- name: "HARDEN_OS UBUNTU | Get groups with gid 0"
  ansible.builtin.shell: "awk -F: '$3==\"0\"{print $1}' /etc/group | grep -vw 'root'"
  changed_when: false
  failed_when: discovered_gid0_groups.rc not in [ 0, 1 ]
  register: discovered_gid0_groups

- name: "HARDEN_OS UBUNTU | Warning if others gid 0 groups"
  ansible.builtin.debug:
    msg:
      - "Warning!! You have other groups assigned to GID 0 - Please resolve"
      - "{{ discovered_gid0_groups.stdout_lines }}"
  when:
    - discovered_gid0_groups is defined
    - discovered_gid0_groups.stdout | length > 0

- name: "HARDEN_OS UBUNTU | PAM settings"
  block:
    - name: "Drop in common-* files"
      ansible.builtin.copy:
        src: pam.d/{{ item }}
        dest: /etc/pam.d/{{ item }}
        owner: root
        group: root
        mode: 0644
        backup: yes
      with_items:
        - common-auth
        - common-account
        - common-password
        - common-session
        - common-session-noninteractive

    - name: "Drop in module configuration files"
      ansible.builtin.copy:
        src: security/{{ item }}
        dest: /etc/security/{{ item }}
        owner: root
        group: root
        mode: 0644
        backup: yes
      with_items:
        - pwquality.conf
        - access.conf
        - pwhistory.conf
        - faillock.conf

# TODO: move to audit?
- name: "HARDEN_OS UBUNTU | Check to see if root has a password"
  ansible.builtin.shell: passwd -S root | grep -E "root P"
  changed_when: false
  failed_when: false
  register: root_passwd_set

- name: "HARDEN_OS UBUNTU | Yell that root doesn't have a password"
  ansible.builtin.assert:
    that: root_passwd_set.rc == 0
    fail_msg: "You have rule 5.4.2.4 enabled this requires that you have a root password set - Please manually set a root password"
    success_msg: "You have a root password set"
  ignore_errors: yes

# TODO: move to audit?
- name: "HARDEN_OS UBUNTU | Ensure root PATH Integrity"
  block:
    - name: "HARDEN_OS UBUNTU | Get root paths"
      ansible.builtin.shell: sudo -Hiu root env | grep '^PATH' | cut -d= -f2
      changed_when: false
      register: discovered_root_paths

    - name: "HARDEN_OS UBUNTU | Get root paths"
      ansible.builtin.shell: sudo -Hiu root env | grep '^PATH' | cut -d= -f2 | tr ":" "\n"
      changed_when: false
      register: discovered_root_paths_split
      when: discovered_root_paths is defined

    - name: "HARDEN_OS UBUNTU | Set fact"
      ansible.builtin.set_fact:
        root_paths: "{{ discovered_root_paths.stdout }}"
      when: discovered_root_paths is defined

    - name: "HARDEN_OS UBUNTU | Check for empty dirs"
      ansible.builtin.shell: 'echo {{ root_paths }} | grep -q "::" && echo "roots path contains a empty directory (::)"'
      changed_when: false
      failed_when: discovered_root_path_empty_dir.rc not in [ 0, 1 ]
      register: discovered_root_path_empty_dir
      when: discovered_root_paths is defined

    - name: "HARDEN_OS UBUNTU | Check for trailing ':'"
      ansible.builtin.shell: "echo {{ root_paths }} | grep -q \":$\" && echo \"roots path contains a trailing (:)\""
      changed_when: false
      failed_when: discovered_root_path_trailing_colon.rc not in [ 0, 1 ]
      register: discovered_root_path_trailing_colon
      when: discovered_root_paths is defined

    - name: "HARDEN_OS UBUNTU | Ensure root PATH Integrity | Check for owner and permissions"
      block:
        - name: "5.4.2.5 | Check for owner and permissions"
          ansible.builtin.stat:
            path: "{{ item }}"
          register: discovered_root_path_perms
          loop: "{{ discovered_root_paths_split.stdout_lines }}"

        - name: "HARDEN_OS UBUNTU | Set permissions"
          ansible.builtin.file:
            path: "{{ item.stat.path }}"
            state: directory
            owner: root
            group: root
            mode: 'go-w'
            follow: false
          loop: "{{ discovered_root_path_perms.results }}"
          loop_control:
            label: "{{ item }}"
          when:
            - item.stat.exists
            - item.stat.isdir
            - item.stat.pw_name != 'root' or item.stat.gr_name != 'root' or item.stat.woth or item.stat.wgrp
            - (item != 'root')
      when: discovered_root_paths is defined
  ignore_errors: yes

