- name: Create directory
  ansible.builtin.file:
    path: "/opt/ccdc-password-manager"
    owner: blueteam
    group: blueteam
    state: directory
    mode: 0755

- name: Clone Repo
  ansible.builtin.git:
    repo: https://github.com/CCDC-RIT/Password-Manager.git
    dest: /opt/ccdc-password-manager/Password-Manager
  when: ansible_default_ipv4.address == password_manager_ip

- name: Copy Linux Starting clients to Remote
  ansible.builtin.copy:
    src: /opt/passwordmanager/linux_starting_clients.txt
    dest: /opt/ccdc-password-manager/linux_starting_clients.txt
    mode: '0644'
  when: ansible_default_ipv4.address == password_manager_ip

- name: Copy Windows Starting clients to Remote
  ansible.builtin.copy:
    src: /opt/passwordmanager/windows_starting_clients.txt
    dest: /opt/ccdc-password-manager/windows_starting_clients.txt
    mode: '0644'
  when: ansible_default_ipv4.address == password_manager_ip

- name: Copy Linux starting clients
  ansible.builtin.lineinfile:
    path: /opt/ccdc-password-manager/starting_clients.txt
    content: |
      {{ lookup('file', '/opt/ccdc-password-manager/linux_starting_clients.txt') }}
      {{ lookup('file', '/opt/ccdc-password-manager/windows_starting_clients.txt') }}
  when: ansible_default_ipv4.address == password_manager_ip

- name: Start Server
  community.docker.docker_compose_v2:
    project_src: /opt/ccdc-password-manager/
    state: present
    restarted: yes
  when: ansible_default_ipv4.address == password_manager_ip