---
- name: Create Downloads directory
  ansible.builtin.file:
    path: downloads
    state: directory

- name: Clone Password Manager Repo
  ansible.builtin.git:
    repo: https://github.com/CCDC-RIT/Password-Manager.git
    dest: downloads/Password-Manager

- name: Download Password Manager Client
  ansible.builtin.get_url:
    url: https://github.com/CCDC-RIT/Password-Manager/raw/refs/heads/main/client/linux
    dest: downloads/ccdc-password-manager-client
    mode: '0550'

- name: Download Password Manager Service File
  ansible.builtin.get_url:
    url: https://raw.githubusercontent.com/CCDC-RIT/Password-Manager/refs/heads/main/client/linux.service
    dest: downloads/ccdc-password-manager-client.service
    mode: '0644'
