---
- name: Gather facts for localhost
  ansible.builtin.setup:

- name: Add blueteam user
  ansible.builtin.user: 
    name: blueteam
    state: present
    password: "{{ blueteam_password | password_hash('sha512') }}"
    shell: /bin/bash
  become: true

- name: Make blueteam group
  ansible.builtin.group:
    name: blueteam
    state: present
  become: true

- name: Create wheel group if doesn't exist on RedHat
  ansible.builtin.shell: groupadd -f wheel
  when: ansible_facts['os_family'] == 'RedHat'
  become: true
 
- name: Add blueteam user to admin groups (RedHat)
  ansible.builtin.user:
    name: blueteam
    groups: '{{ item }}'
    append: yes
  with_items:
    - "wheel"
    - "adm"
    - "blueteam"
  become: true
  when: ansible_facts['os_family'] == 'RedHat'

- name: Add blueteam user to admin groups (Debian)
  ansible.builtin.user:
    name: blueteam
    groups: '{{ item }}'
    append: yes
  with_items:
    - "sudo"
    - "adm"
    - "blueteam"
  become: true
  when: ansible_facts['os_family'] == 'Debian'

- name: Check if a SSH key already exists
  ansible.builtin.stat:
    path: "{{ ansible_env.HOME }}/.ssh/id_ed25519"
  register: ssh_key_check

- name: Generate SSH key on Ansible controller
  shell: "ssh-keygen -t ed25519 -f {{ ansible_env.HOME }}/.ssh/id_ed25519 -N \"\" -q"
  args:
    creates: '{{ ansible_env.HOME }}/.ssh/id_ed25519'
  when: not ssh_key_check.stat.exists

- name: Include Downloads
  include_tasks: downloads.yml